.container{
  width: 400px;
  margin: 50px auto;
}
h1 {
     text-align: center;
     font-size: 22px;
 }
 .info{
  text-align: center;
 }
 .photo{
  width: 160px;
  height: 160px;
  margin: 0 auto 50px;
  overflow: hidden;
  border-radius: 50%;
 }

 .photo img {
 max-width: 100%;
 height: auto;
      }
.top{
  position: fixed;
  right: 30px;
  bottom: 30px; ;
  width: 100px;
  height: 100px;
  background-color: bisque;
  border-radius: 50%;
  text-align: center;
}
.work-item{
  border: 1px solid #000;
  padding: 20px;
}
.works{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}


.works{
  display: grid;
  grid-template-areas: 
  'w1 w3 w3'
  'w2 w3 w3'
  'w4 w5 w6'
  ;
}
.x1{
  grid-area: w1;
}
.x2{
  grid-area: w2;
}
.x3{
  grid-area: w3;
}
.x4{
  grid-area: w4;
}
.x5{
  grid-area: w5;
}
.x6{
  grid-area: w6;
}


